*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --width: 100vw;
}

body{
  background-color: black;
  width: 100vw;
  overflow: hidden;
}

div{
  height: 100vh;
  width: 100vw;
  background: url(images\ \(4\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  z-index: -1;
}

#canvas{
  width: var(--width);
  height: 100vh;
}